body{
    background-color: black;
}
#landing{
    height: 100vh;
   
    
    
    color: white;
    text-align: center;
    /* background-image: url("IP3/assets/backgrounds/h_img.jpg"); */
   
}
#dLogo{
    vertical-align: middle;
    margin-top: 10%;
    padding-bottom: 30px;
}
#mouseClick{
vertical-align: middle;
margin-top: 40vh;
}
#aboutUs{
    height: 50vh;
    background-color: white;
    text-align: center;

}
#aboutUs h2{
    font-weight: bolder;
}
#service{
    text-align: center;
    height: 50vh;
    color: white;
}
#service h2{
    font-weight: bolder;
    /* margin-top: 10%; */
}
#whatWeDo{
    background-color: white;
    /* height: 50vh; */

}
.hidden-content{
    display: none;
}
#whatWeDo h2{
    text-align: center;
    font-weight: bolder;

}
 #designIcon{
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
#devIcon {
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
#productIcon{
    align-items: center;
    text-align: center;
    font-weight: bolder;
} 
#portfolio h2{
    text-align: center;
  
}
.work-heading{
    display: none;
}
#contactUs{
    height: 70vh;
    color: white;
    text-align: center;

}

/* .container-img{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
} */
#myForm{
    margin: 10%;
    /* margin-left: 0vw; */
}
#myForm input{
    background-color: transparent;
   
}
#myForm textarea{
    background-color: transparent;
    height: 20vh;
    width: 88vh;
}
::placeholder{
    color: white;
}
/* #portfolio .row{
    margin-right: -15px;
    margin-left: -15px;
} */
.social{
    align-items: center;
    text-align: center;
}
.social h5{
    text-align: center;
}
